modules = ["web", "python-3.12", "nodejs-20"]
run = "python "

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python "]

[workflows]
runButton = "MVP Full Stack"

[[workflows.workflow]]
name = "Run Frontend"
author = 3179955
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow]]
name = "Full Stack"
author = 3179955
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"

[[workflows.workflow]]
name = "Run Backend"
author = 3179955
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[[workflows.workflow]]
name = "MVP Full Stack"
author = 3179955
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python main.py"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
